---
---

@import "normalize";
@import "colors";
@import "base";
@import "flexboxgrid";
@import "mixins";
@import "highlight";
@import "include_media";

body {
  background-color: $bg-white;
}

.header {
  padding: 39px 42px;

  font-size: 18px;
  line-height: 18px;
  color: $darkest-grey;
}

.avatar {
  border-radius: 46px;

  @include at2x("avatar", 92px, 92px);
}

.page {
  padding-bottom: 60px;

  &__body {
    max-width: 960px;
    margin: 0 auto;

    margin-top: 30px;
  }

  &__posts-list {
    margin-top: 60px;
  }
}

.posts-list {
  &__item {
    & + & {
      margin-top: 60px;
    }
  }
}

.post {
  font-size: 18px;
  line-height: 32px;

  &--blur {
    filter: blur(3px);
  }

  &__date {
    margin-bottom: 5px;

    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $darker-grey;
  }

  &__title {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: $dark-blue;
  }

  &__title + &__content p {
    margin-top: 10px;
  }

  &__content {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $copy-black;

    .gist {
      margin: 10px 0;
    }

    a {
      border-bottom: 1px solid $copy-black;

      &:hover {
        opacity: 0.6;
      }
    }

    p,
    iframe,
    figure,
    .highlighter-rouge {
      margin-top: 20px;
    }

    h2,
    h3 {
      margin-top: 30px;

      font-family: 'Cabin', sans-serif;
      font-weight: 700;
      color: $dark-blue;
    }

    h3 + p {
      margin-top: 0;
    }

    h3 {
      font-size: 24px;
      line-height: 36px;
    }

    blockquote {
      margin: 20px 0;
      padding: 15px 15px;

      border-left: $grey 10px solid;
      box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.5);

      font-style: italic;

      cite {
        display: block;
        margin-top: 20px;
      }
    }
  }

  &__job-ad {
    display: none;
    margin-top: 40px;

    &--active {
      display: block;

      -moz-transition: opacity 1s linear;
      -o-transition: opacity 1s linear;
      -webkit-transition: opacity 1s linear;
      transition: opacity 1s linear;
    }

    &--fade-out {
      opacity: 0;
    }
  }

  &__credits {
    margin-top: 50px;
  }

  &__recommended-posts {
    margin-top: 50px;
  }

  &__newsletter-form {
    display: none;

    margin-top: 50px;

    &--active {
      display: block;
    }
  }

  &__comments {
    margin-top: 50px;
  }

  &__cellar {
    margin-top: 50px;
  }
}

.b-head {
  height: 36px;
}

.b-head__nav {
  float: right;
  line-height: 34px;
}

.b-menu__item {
  display: inline-block;
  margin-left: 15px;

  font-family: 'Inconsolata', monospace;
  font-size: 18px;
  line-height: 18px;
  color: $darkest-grey;
  text-decoration: none;

  list-style: none;

  &--active {
    padding-bottom: 4px;

    border-bottom: 2px solid grey;

    font-weight: bold;
    color: #000;
  }
}

.highlight {
  padding: 5px 10px;
  overflow-x: auto;

  border: 1px solid #E2E2E2;

  background: #FFF;

  font-size: 12px;
  line-height: 20px;
}

.two-images {
  margin-top: 20px;
  margin-left: -27%;
  display: flex;
  width: 150%;

  img {
    display: block;
    width: 50%;
    height: 100%;

    &:last-child {
      margin-left: 2%;
    }
  }
}

.tweet {
  display: inline-block;
  padding: 17px 40px;

  border-radius: 40px;

  background-color: #4187FF;

  text-align: center;

  &__container {
    display: flex;
  }

  &__icon {
    font-size: 24px;
    color: #FFF;
  }

  &__text {
    margin-left: 13px;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    color: #FFF;
  }

  &:hover {
    background-color: #1B6FFF;
  }
}

.credits {
  display: flex;
  justify-content: space-between;
}

img {
  display: block;
  max-width: 100%;

  border: 1px solid rgba(208, 208, 208, 0.4);
  border-radius: 2px;

  cursor: pointer;
}

img.emoji {
  cursor: auto;
}

figcaption {
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  line-height: 18px;
  color: $darkest-grey;
  text-decoration: none;
}

img.emoji {
  display: inline-block;
  width: 25px;
  height: 25px;

  border: 0;
}

.image-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;

  background-color: rgba(167, 167, 167, 0.5);

  &.active {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 90%;
    height: 90%;
    margin: auto;
    z-index: 1001;
  }
}

.job-ad {
  padding: 25px;

  border-radius: 2px;

  background-color: $yellow;

  -webkit-box-shadow: 0px 0px 6px 0px rgba(128,109,109,0.5);
  -moz-box-shadow: 0px 0px 6px 0px rgba(128,109,109,0.5);
  box-shadow: 0px 0px 6px 0px rgba(128,109,109,0.5);

  &__header {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: $dark-blue;
  }

  &__body {
    margin-top: 10px;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $copy-black;
  }

  &__actions {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  &__not-interested-link {
    display: inline-block;
    margin-left: 30px;

    font-family: 'Inconsolata', monospace;
    font-size: 18px;
    line-height: 18px;
    color: $darker-grey;
    text-decoration: underline;

    &:hover {
      color: $darkest-grey;
    }
  }
}

@include media("<=tablet") {
  .two-images {
    margin-top: 10px;
    margin-left: 0;
    display: block;
    width: 100%;

    img {
      display: block;
      width: 100%;
      margin: 0;

      &:last-child {
        margin: 20px 0 0;
      }
    }
  }
}

.projects-page {
  &__title {
    margin-bottom: 20px;

    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    color: $dark-blue;
  }

  &__description {
    margin-bottom: 40px;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $copy-black;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__project {
    width: 300px;
    margin-bottom: 40px;
  }
}

.project {
  display: flex;
  flex-direction: column;

  &__thumbnail-placeholder {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 200px;
    margin-bottom: 20px;
    overflow-y: hidden;

    border-radius: 2px;

    transition: transform .2s;

    &:hover {
      transform: scale(1.1);
    }

    &--no-image {
      background-color: $shiny-blue;

      font-family: 'Cabin', sans-serif;
      font-weight: 600;
      font-size: 36px;
      line-height: 48px;
      color: $white;
      text-transform: uppercase;
      text-align: center;

      .project__thumbnail {
        display: none;
      }
    }
  }

  &__thumbnail {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    min-height: 200px;
  }

  &__created-at {
    margin-bottom: 10px;

    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $darker-grey;
  }

  &__name {
    margin-bottom: 10px;

    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: $dark-blue;
  }

  &__description {
    margin-bottom: 10px;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $copy-black;
  }

  &__menu {
    display: flex;
    margin-top: auto;
  }

  &__menu-link {
    padding: 4px 8px;

    border: 1px solid $darkest-grey;
    border-radius: 13px;

    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $darker-grey;

    & + & {
      margin-left: 10px;
    }

    &:hover {
      border-color: $shiny-blue;

      background-color: $shiny-blue;

      color: $white;
    }
  }
}

.recommended-posts {
  padding-top: 10px;

  border-top: 1px solid $darker-grey;

  &__header {
    margin-bottom: 20px;

    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2em;
    color: $darkest-grey;
  }

  &__posts {
    display: flex;
    justify-content: space-between;
  }

  &__post {
    width: 50%;

    & + & {
      margin-left: 20px;
    }
  }
}

.recommended-post {
  display: block;
  $r: &;

  &__created-at {
    margin-bottom: 10px;

    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $darker-grey;
  }

  &__title {
    margin-bottom: 10px;

    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: $dark-blue;
  }

  &__excerpt {
    margin-bottom: 10px;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $copy-black;
  }

  &:hover {
    #{$r}__title {
      text-decoration: underline;
    }
  }
}

.newsletter-form {
  padding: 20px;
  position: relative;

  border-radius: 4px;

  background-color: $yellow;

  &__close {
    position: absolute;
    top: 10px;
    right: 12px;

    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    line-height: 1.2em;
    color: $darker-grey;
    text-decoration: underline;
  }

  &__header {
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: $dark-blue;
  }


  &__description {
    margin-top: 10px;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: $copy-black;

    a {
      text-decoration: underline;
    }
  }

  &__form-container {
    margin-top: 15px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    padding: 12px;

    border-radius: 4px;

    background-color: $bg-white;

    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2em;
    color: $copy-black;

    & + & {
      margin-left: 10px;
    }
  }

  &__text-input {
    width: 100%;

    &.mce_inline_error {
      border: 2px solid $red !important;
    }
  }

  &__submit {
    padding: 12px 30px;
    margin-left: 10px;

    border-radius: 25px;

    background-color: $shiny-blue;

    color: $white;

    cursor: pointer;

    &:hover {
      background-color: #1B6FFF;
    }
  }

  &__success-message {
    display: none;

    &--active {
      display: block;
    }
  }
}

@include media("<=phone") {
  .header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 8px;
  }

  .page {
    padding: 0 10px 40px;

    &__posts-list {
      margin-top: 0;
    }

    &__avatar {
      display: none;
    }

    &__body {
      width: 100%;
      margin-top: 20px;
    }
  }

  .post {
    &__credits {
      margin-top: 40px;
    }

    &__comments {
      margin-top: 40px;
    }
  }

  .credits {
    justify-content: center;
  }

  img {
    width: 100%;
  }

  .job-ad {
    &__actions {
      flex-direction: column;
    }

    &__not-interested-link {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  .project {
    width: 100%;

    &__thumbnail-placeholder {
      &:hover {
        transform: none;
      }
    }
  }

  .recommended-posts {
    &__posts {
      flex-direction: column;
    }

    &__post {
      width: 100%;

      & + & {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  .newsletter-form {
    padding: 40px 20px;

    &__form {
      flex-direction: column;
    }

    &__input {
      & + & {
        margin-left: 0;
        margin-top: 10px;
      }
    }

    &__submit {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
