$white: #FFF;

$purple-1: #19216C;
$purple-2: #2D3A8C;
$purple-3: #35469C;
$purple-4: #4055A8;
$purple-5: #4C63B6;
$purple-6: #647ACB;
$purple-7: #7B93DB;
$purple-8: #98AEEB;
$purple-9: #BED0F7;
$purple-10: #E0E8F9;

$cyan-1: #05606E;
$cyan-2: #07818F;
$cyan-3: #099AA4;
$cyan-4: #0FB5BA;
$cyan-5: #1CD4D4;
$cyan-6: #3AE7E1;
$cyan-7: #62F4EB;
$cyan-8: #92FDF2;
$cyan-9: #C1FEF6;
$cyan-10: #E1FCF8;

$grey-1: #1F2933;
$grey-2: #323F4B;
$grey-3: #3E4C59;
$grey-4: #52606D;
$grey-5: #616E7C;
$grey-6: #7B8794;
$grey-7: #9AA5B1;
$grey-8: #CBD2D9;
$grey-9: #E4E7EB;
$grey-10: #F5F7FA;

$pink-1: #620042;
$pink-2: #870557;
$pink-3: #A30664;
$pink-4: #BC0A6F;
$pink-5: #DA127D;
$pink-6: #E8368F;
$pink-7: #F364A2;
$pink-8: #FF8CBA;
$pink-9: #FFB8D2;
$pink-10: #FFE3EC;

$red-1: #610316;
$red-2: #8A041A;
$red-3: #AB091E;
$red-4: #CF1124;
$red-5: #E12D39;
$red-6: #EF4E4E;
$red-7: #F86A6A;
$red-8: #FF9B9B;
$red-9: #FFBDBD;
$red-10: #FFE3E3;

$orange-1: #8D2B0B;
$orange-2: #B44D12;
$orange-3: #CB6E17;
$orange-4: #DE911D;
$orange-5: #F0B429;
$orange-6: #F7C948;
$orange-7: #FADB5F;
$orange-8: #FCE588;
$orange-9: #FFF3C4;
$orange-10: #FFFBEA;

$green-1: #014807;
$green-2: #07600E;
$green-3: #0E7817;
$green-4: #0F8613;
$green-5: #18981D;
$green-6: #31B237;
$green-7: #51CA58;
$green-8: #91E697;
$green-9: #C1F2C7;
$green-10: #E3F9E5;
