---
layout: blank
title: Focused YouTube – avoid the rabbit hole & enjoy distraction-free YouTube.
description: Focused YouTube lets you hide distracting sections like recommendations, shorts, comments, etc. Stop falling down the YouTube rabbit hole — reclaim your focus and enjoy intentional viewing.
keywords: youtube, distraction, focus, extension, browser, chrome, firefox, edge
permalink: focused-youtube
og_image: /images/focused-youtube/og.png
google_site_verification: tgmWYS-LqY0N1_4OjH9KmI5VARwrzVILR5kIyYT6geg
---

<div class="fy-lp">
  <div class="fy-lp__navbar">
    {% include focused-youtube/navbar.html %}
  </div>

  <div class="fy-lp__hero">
    {% include focused-youtube/hero.html %}
  </div>

  <div class="fy-lp__stats">
    {% include focused-youtube/stats.html %}
  </div>

  <div class="fy-lp__features">
    {% include focused-youtube/features.html %}
  </div>

  <div class="fy-lp__footer">
    {% include focused-youtube/footer.html %}
  </div>
</div>

{% include focused-youtube/scripts.html %}
