---
layout: default
title: "A blog by @makaroni4"
description: "@makaroni4 (Anatoli Makarevich) is a software engineer at Blinkist focusing on web and data."
---

<div class="index-page">
  <div class="index-page__hero">
    {% include avatar_hero.html %}
  </div>

  <div class="index-page__about container">
    <p>
      My name Anatoli, I was born in Minsk, Belarus; studied Physics & Math in MIPT; currently living in Berlin📍. Wie geht’s? 😄 🍻
    </p>

    <p>
      During the day I work as a Lead Engineer at <a href="https://www.blinkist.com/">Blinkist</a>, the #1 book summary app in the world.
    </p>

    <p>
      During the night I'm building <a href="https://www.sqlhabit.com/">SQL Habit</a> – a platform for mastering Data Analysis with SQL in a business context. According to my students, it's "The best Data Analysis/SQL course in the world". ❤️
    </p>

    <p>
      📈 I consult on Growth and Tech topics: Marketing Integrations and Data Modelling, Website architecture, Marketing/Product analytics, etc. Ping me <a href="mailto:makaroni4@gmail.com">via email</a> or <a href="https://twitter.com/makaroni4">on Twitter</a>.
    </p>
  </div>

  <div class="index-page__sql-habit-banner container">
    {% include sql_habit_banner.html %}
  </div>

  <div class="index-page__post-list container">
    <h2>Articles</h2>

    {% include post_list.html %}
  </div>

  <div class="index-page__project-list container">
    <h2>Projects</h2>

    {% include project_list.html %}
  </div>
</div>
