---
layout: default
title: "A blog by @makaroni4"
description: "@makaroni4 (Anatoli Makarevich) is a software engineer at Blinkist focusing on web and data."
---

<div class="index-page">
  <div class="index-page__hero">
    {% include avatar_hero.html %}
  </div>

  <div class="index-page__post-list container">
    <h2>Posts</h2>

    {% include post_list.html %}
  </div>

  <div class="index-page__project-list container">
    <h2>Projects</h2>

    {% include project_list.html %}
  </div>
</div>
