<section class="fy-navbar">
  <img class="fy-navbar__logo" src="/images/focused-youtube/logo_with_name.svg" alt="Focused Youtube Logo">

  <div class="fy-navbar__browser-buttons">
    <button id="nav-chrome-download" class="fy-download-button fy-browser-btn" data-browser="chrome">
      <img src="/images/focused-youtube/chrome_logo.svg" alt="Chrome" class="fy-browser-icon">
      <span>Add to Chrome</span>
    </button>

    <button id="nav-firefox-download" class="fy-download-button fy-browser-btn" data-browser="firefox">
      <img src="/images/focused-youtube/firefox_logo.svg" alt="Firefox" class="fy-browser-icon">
      <span>Add to Firefox</span>
    </button>

    <button id="nav-edge-download" class="fy-download-button fy-browser-btn" data-browser="edge">
      <img src="/images/focused-youtube/edge_logo.svg" alt="Edge" class="fy-browser-icon">
      <span>Add to Edge</span>
    </button>
  </div>
</section>
