<div class="avatar-hero">
  <div class="avatar-hero__container container">
    <div class="avatar-hero__inner">
      <div class="avatar-hero__wrapper">
        <div class="avatar-hero__content">
          <h2 class="avatar-hero__headline">
            Anatoli Makarevich
          </h2>

          <ul class="avatar-hero__subheadline">
            <li>Lead Engineer @ Blinkist</li>
            <li>Founder and author @ SQL Habit</li>
            <li>Student @ life</li>
          </ul>
        </div>

        <img
          class="avatar-hero__avatar"
          src="/images/hero_avatar.png"
          alt="Anatoli Makarevich, author of makaroni4.com">
      </div>
    </div>
  </div>
</div>
