<div class="footer">
  <div class="footer__container container sans-serif font-small fw500">
    <div class="footer__sitemap">
      <div class="footer__sitemap-column">
        <h4>Sitemap</h4>

        <a
          class="footer__sitemap-link no-underline"
          href="/articles">Articles</a>
        <a
          class="footer__sitemap-link no-underline"
          href="/projects">Projects</a>
        <a
          class="footer__sitemap-link no-underline"
          href="/notes">Notes</a>
        <a
          class="footer__sitemap-link no-underline"
          href="/now">Now</a>
      </div>

      <div class="footer__sitemap-column">
        <h4>Contact</h4>

        <a
          class="footer__sitemap-link no-underline"
          target="_blank"
          href="https://www.linkedin.com/in/makaroni4/">LinkedIn</a>
        <a
          class="footer__sitemap-link no-underline"
          target="_blank"
          href="https://twitter.com/makaroni4">Twitter</a>
        <a
          class="footer__sitemap-link no-underline"
          target="_blank"
          href="https://github.com/makaroni4">Github</a>
        <a
          class="footer__sitemap-link no-underline"
          target="_blank"
          href="mailto:makaroni4@gmail.com">Email</a>
      </div>
    </div>

    <hr class="footer__hr">

    <div class="footer__body">
      <div class="fw400">
        © Made with ❤️ by Anatoli Makarevich
      </div>

      <div class="footer__logo font-small hidden-xs">
        makaroni4.com
      </div>
    </div>
  </div>
</div>
