<header class="header sans-serif">
  <div class="header__container container">
    <div class="header__wrapper">
      <div class="header__logo font-small">
        {% if page.url == '/' %}
          <span class="header__menu-item header__menu-item--active">makaroni4.com</span>
        {% else %}
          <a
            class="font-small"
            href="/">
            makaroni4.com
          </a>
        {% endif %}

        <span class="header__logo-separator">|</span>
      </div>
      <ul class="header__menu font-small">
        {% if page.url == '/articles' %}
          <li class="header__menu-item header__menu-item--active">
            ARTICLES
          </li>
        {% else %}
          <li class="header__menu-item">
            <a
              class="font-small"
              href="/articles">
              ARTICLES
            </a>
          </li>
        {% endif %}

        {% if page.url == '/projects' %}
          <li class="header__menu-item header__menu-item--active font-small">
            PROJECTS
          </li>
        {% else %}
          <li class="header__menu-item">
            <a
              class="font-small"
              href="/projects">
              PROJECTS
            </a>
          </li>
        {% endif %}

        {% if page.url == '/now' %}
          <li class="header__menu-item header__menu-item--active font-small">
            NOW
          </li>
        {% else %}
          <li class="header__menu-item">
            <a
              class="font-small"
              href="/now">
              NOW
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</header>
