<div class="project-list">
  {% for project in site.data.projects %}
    <div class="project-list__project project">
      <a
        class="project__thumbnail"
        data-hover-src="{{ project.thumbnail_gif }}"
        href="{{ project.website_url | default: project.github_url }}"
        target="_blank">
        <img
          src="/images/projects/thumbnails/{{ project.thumbnail }}"
          alt="{{ project.name }}">
      </a>

      <h4 class="project__name sans-serif grey3">
        {{ project.name }}
      </h4>

      <div class="project__description sans-serif">
        {{ project.description }}
      </div>

      <div class="project__menu">
        {% if project.website_url %}
          <a
            class="project__menu-link font-small fw400 sans-serif no-underline"
            href="{{ project.website_url }}">Website</a>
        {% endif %}

        {% if project.github_url %}
          <a
            class="project__menu-link font-small fw400 sans-serif no-underline"
            href="{{ project.github_url }}">Github</a>
        {% endif %}

        {% if project.blog_post_url %}
          <a
            class="project__menu-link font-small fw400 sans-serif no-underline"
            href="{{ project.blog_post_url }}">Blog post</a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
