<div class="sql-habit-banner">
  <div class="sql-habit-banner__container">
    <div class="sql-habit-banner__small-review">
      <div class="small-review font-small sans-serif fw400">
        “no fuss, just things you actually need”
      </div>
    </div>

    <h2 class="sql-habit-banner__headline">
      Start learning with SQL Habit today
    </h2>

    <div class="sql-habit-banner__subheadline sans-serif">
      Master Data Analysis with SQL through the story of how a startup succeeded through data.
    </div>

    <a
      class="sql-habit-banner__cta btn btn--blue btn--lg btn--full-width-xs sans-serif"
      href="https://sqlhabit.com">
      TRY 35 LESSONS FOR FREE
    </a>

    <img
      src="/images/twemoji/bar-chart.svg"
      alt=""
      class="sql-habit-banner__chart-icon">
  </div>
</div>
