.article-page {
  &__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: $px32;
    padding: $px48;

    border-radius: $px8;

    background-color: $purple-4;

    color: $white;
    text-align: center;

    @include breakpoint($md) {
      padding: $px96;
    }
  }

  &__headline {
    display: inline-block;
    position: relative;
    margin: 0;
  }

  &__headline-start-emoji {
    position: absolute;
    top: -$px32;
    left: -$px32;
    z-index: 1;

    font-size: 2em;

    transform: rotate(-25deg);
  }

  &__headline-finish-emoji {
    position: absolute;
    bottom: -$px32;
    right: -$px32;
    z-index: 1;

    font-size: 2em;

    transform: rotate(25deg);
  }

  &__headline-text {
    position: relative;
    z-index: 2;
  }

  &__content {
    max-width: $px640;
    margin-bottom: $px48;

    a {
      &:hover {
        opacity: 0.6;
      }
    }

    figure {
      margin-left: 0;
      margin-right: 0;
    }

    p,
    iframe,
    figure,
    .highlighter-rouge {
      margin-top: $px24;
    }

    h2,
    h3 {
      margin: $px32 0 $px16;
    }

    h3 + p {
      margin-top: 0;
    }

    h2 + p {
      margin-top: 0;
    }

    h3 {
      font-size: 24px;
      line-height: 36px;
    }

    blockquote {
      margin: 20px 0;
      padding: 15px 15px;

      border-left: $grey-4 10px solid;
      border-radius: 0 $px8 $px8 0;
      box-shadow: 2px 0px 6px 0px rgba(0,0,0,0.5);

      font-style: italic;

      cite {
        display: block;
        margin-top: 20px;
      }
    }

    figcaption {
      font-family: 'Inconsolata', monospace;
      font-size: 14px;
      line-height: 18px;
      color: $grey-4;
      text-decoration: none;
    }

    img {
      max-width: 100%;
    }

    .youtube-video {
      margin-bottom: $px48;
    }
  }

  &__footer {
    margin-bottom: $px48;
  }

  &__banner {
    margin-bottom: $px48;
  }
}
