.footer {
  padding: $px24 0 $px16;

  background-color: $grey-9;

  &__hr {
    margin: 0;
    padding: $px8 0;

    border: 0;
    border-top: $px1 solid $grey-8;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $px24 0;
  }

  &__sitemap {
    display: grid;
    margin-bottom: $px48;

    grid-template-columns: 1fr;
    grid-gap: $px32;

    @include breakpoint($sm) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: $px24 $px24;
    }
  }

  &__sitemap-column {
    display: flex;
    flex-direction: column;
  }

  &__sitemap-link {
    &:not(:last-child) {
      margin-bottom: $px24;
    }
  }
}
