@import "../design-system.scss";

.footer {
  padding: $px48 0 0;

  &__hr {
    margin: 0;
    padding: 0;

    border: 0;
    border-top: $px1 solid #E4E7EB;
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $px24 0;
  }
}
