@import "../design-system.scss";

.header {
  padding: $px24 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    // color: $white;
  }

  &__menu {
    margin: 0;
    padding: 0;
    display: flex;

    list-style: none;
  }

  &__menu-item {
    // color: $white;

    &:not(:last-child) {
      margin-right: $px16;
    }

    a {
      // color: $white;
    }
  }
}
