@import "../design-system.scss";

.small-review {
  position: relative;

  font-size: 15px;
  line-height: 18px;
  font-style: italic;
  color: $grey-5;

  &:before {
    position: absolute;
    top: -18px;
    left: 0;
    width: 85px;
    height: $px16;
    z-index: 10;

    background-image: url("/images/five_stars.svg");
    background-size: contain;
    background-repeat: no-repeat;

    content: "";
  }
}
