.two-images {
  margin-top: 20px;
  margin-left: -27%;
  display: flex;
  width: 150%;

  img {
    display: block;
    width: 50%;
    height: 100%;

    &:last-child {
      margin-left: 2%;
    }
  }
}
