.fy-hero {
  padding: $px48 $px16;
  overflow: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__headline {
    margin-bottom: $px16;

    font-size: $px48;
    text-align: center;
    line-height: 1.2;
  }

  &__description {
    margin-bottom: $px48;

    font-size: $px24;
    text-align: center;
  }

  &__browser-buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: $px32;
    margin-bottom: $px72;
  }

  &__browser-buttons-wrapper {
    position: relative;
    margin-bottom: $px24;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__source-code-link {
    display: inline-flex;
  }

  &__snapshot {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  &__version {
    position: absolute;
    left: 0;
    bottom: -2px;
    color: $grey-3;
    transform: translateX(50%) translateY(100%);
    text-align: center;
    font-size: 14px;
    font-family: 'Noto Sans HK', sans-serif;
  }

  @include breakpoint($sm) {
    padding: $px72 $px32;

    &__content {
      flex-direction: column;
    }

    &__headline {
      margin-bottom: $px16;

      font-size: $px64;
    }

    &__description {
      max-width: $px960;
      margin-bottom: $px48;

      font-size: $px24;
    }

    &__browser-buttons {
      flex-direction: row;
      margin-bottom: $px96;
    }

    &__browser-buttons-wrapper {
      margin-bottom: 0;
    }

    &__snapshot {
      max-width: $px720;
    }
  }
}
