.fy-stats {
  background-color: $bg-light;
}

.fy-stats-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.fy-stat-item {
  text-align: center;

  &__number {
    line-height: 1;
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 52px;
    color: #323F4B;
    margin-bottom: 8px;
    font-weight: 700;
  }

  p {
    font-size: 20px;
  }

  @media (max-width: 768px) {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
}
