---
layout: default
---

<div class="article-page">
  <div class="article-page__container container">
    <div class="article-page__hero">
      <h1 class="article-page__headline">
        <span class="article-page__headline-start-emoji">
          {{ page.start_emoji }}
        </span>
        <span class="article-page__headline-text">
          {{ page.title }}
        </span>
        <span class="article-page__headline-finish-emoji">
          {{ page.finish_emoji }}
        </span>
      </h1>
    </div>

    <div class="article-page__info">
      {% include article_info.html %}
    </div>

    <div class="article-page__content">
      {{ content }}
    </div>

    <div class="article-page__footer">
      {% include article_footer.html %}

      <div class="article-page__comments">
        <div id="disqus_thread"></div>
      </div>
    </div>

    <div class="article-page__banner">
      {% include sql_habit_banner.html %}
    </div>

    <div class="article-page__articles-archive">
      <h2>Explore other articles</h2>

      {% include post_list.html %}
    </div>
  </div>
</div>

<div class="image-popup js-image-popup">
  <div class="image-popup__img js-image-popup-img">
  </div>
</div>
