<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="page">
      <div class="page__header">
        {% include header.html %}
      </div>

      <div class="page__body">
        <div class="page__hero">
          {% include avatar_hero.html %}
        </div>

        <div class="page__content">
          {{ content }}
        </div>
      </div>

      <div class="page__footer">
        {% include footer.html %}
      </div>
    </div>

    {% include body_end.html %}
  </body>
</html>
